/* GLOBAL STYLINGS */

img {
  width: 100%;
}

button {
  width: 100%;
}

.bold {
  font-weight: 800;
}

/* MOBILE CONTENT */

.project-hero {
  background-image: linear-gradient(to bottom, rgb(0, 96, 208), rgb(10, 132, 227));
  padding-top: 8rem;
}

.introduction, .project-info, .problem, .solution, .info-list, .user-survey, .survey-insights div, .survey-btn,
.comp-analysis, .comp-data, .comp-btn, .persona-intro, .persona-1, .persona-2, .persona-btn, .user-stories, .stories-btn, .sketching-intro, .lofi-testing,
.sketches-btn, .hifi-mockups, .hifi-btn, .ab-testing, .data-info, .testing-btn, .iteration-intro, .iter-1, .iter-2, .iter-3, .crit, .crit-info, .crit-info-2, .usability-testing,
.iterations-btn, .finishing-intro, .states-btn, .identity, .styleguide-btn, .process-btn, .learn {
  margin: 3rem 2rem;
}

figure {
  margin: 0;
  box-shadow: none;
}

figcaption {
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
  color: #5C5D6A;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.img-shadow {
box-shadow: 0 1rem 2rem 0 rgb(207, 213, 230)
}

.negative-data {
  color: #D57173;
  font-weight: 900;
  font-size: 2rem;
}

.positive-data {
  color: #16C29C;
  font-weight: 900;
  font-size: 2rem;
}

.project-img {
  display: none;
  justify-content: center;
  text-align: center;
  color: white;
}

.project-img-mobile {
  width: 80%;
  margin: auto;
  padding: 4rem 0;
  text-align: center;
  color: white;
}

.sphere-logo {
  width: 11.1rem;
  height: 9.7rem;
  margin-bottom: 2rem;
}

.introduction {
}

#intro-btn1 {
  margin-bottom: 2rem;
}

#intro-btn2 {
  background-color: transparent;
  border: 0.2rem solid rgb(11, 35, 255);
  box-shadow: none;
  color: rgb(11, 35, 255);
}

#secondary-btn:hover {
  background-color: #0015D1;
  color: rgb(255, 255, 255);
  transition: 0.3s ease all;
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
}

.introduction p {
  margin-bottom: 2rem;
}

.project-info {
  margin-top: 0;
  background-color: #FFFFFF;
  font-size: 1.7rem;
  font-weight: 300;
}

.project-info h4, .project-info ul {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
  padding: 0;
}

.project-info li {
  list-style-type: none;
}

.project-info h4 {
  padding-top: 0;
}

.roles, .timeframe, .deliverables {
  margin-bottom: 1.5rem;
}

.user-survey {
  padding-top: 2rem;
}
.problem-solution {
  background-color: #F7F9FF;
  padding: 2rem 0;
}

.survey-insights {
  margin: 0;
  background-color: #0266D4;
  color: #FFFFFF;
  padding: 4rem 0;
}

.survey-insights h2, .survey-insights p {
  margin: 0;
}

.survey-data {
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}
.survey-insights h4 {
  text-align: center;
  color: #FFFFFF;
}

hr {
  width: 100%%;
  color: rgba(255,255,255, .10)
}
#pharm {
  margin-top: 6rem;
}

.survey-btn {
}

.comp-analysis {
  margin-top: 2rem;
}

.comp-insights {
  background-color: #0266D4;
  color: #FFFFFF;
  padding: 4rem 0;
}

.comp-data {
  text-align: center;
  line-height: 3rem;
  margin-bottom: 5rem;
}

.comp-data h2, p {
  margin: 0;
}

.senior-icon {
  width: 6rem;
  height: 6rem;
}

.data-icon {
  width: 4.5rem;
  height: 6rem;
}


.discovery {
  background-color: #F7F9FF;
  margin: 3rem 0;

}

.persona-1, .persona-2 {
  background-color: white;
  border: .1rem solid #D5DDE8;
  border-radius: 1rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.persona-img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin: 0;
  padding: 0;
}

 h3 {
  margin: 0;
  padding: 0;
}

.persona-info {
  padding: 1.5rem 0;
}

.persona-1 ul, .persona-2 ul {
  font-weight: 300;
  margin: 0;
  padding: 0 3rem;
}

.persona-1 li, .persona-2 li {
  line-height: 2.5rem;
  margin: 1rem 0;
  font-size: 1.5rem;
}

.bio-persona {
  background-color: #F9F9F9;
  padding: 1.5rem;
}

.persona-1 h3, .persona-2 h3 {
  font-size: 3rem;
  font-weight: 900;
  padding-left: 1rem;
}

.bio-persona p {
  font-size: 1.7rem;
  padding-left: 1rem;
}

.vertical-line {
  border-left: .3rem solid #0980E1;
  margin: 2rem;
}

.quote {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #0980E1;
  padding: 0 2rem;
}

.user-stories {
  margin-top: 0;
}

.user-stories ul {
  margin: 0;
  padding-left: 1.5rem;
  list-style-type: disc;
}

.user-stories li {
  font-size: 1.7rem;
  font-weight: 600;
  padding: 1.5rem 0;
}

.stories-btn {
  margin-top: 0;
}


.persona-1 ul, .persona-2 ul {
  font-size: 1.5rem;
  padding: 0 4rem;
}

.persona-info  h3 {
  margin-left: 1.5rem;
}
.bio-persona {
  background-color: #F9F9F9;
  padding-left: 1.5rem
}

.persona-1 h3, .persona-2 h3 {
  font-size: 1.7rem;
  font-weight: 900;
  padding-left: 1rem;
}

.bio-persona p {
  font-size: 1.5rem;
  padding-left: 1rem;
}

.vertical-line {
  border-left: .3rem solid #0980E1;
  margin: 2rem 2.8rem;
}

.quote {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #0980E1;
  padding: 0 2rem;
}

.sketching {
  background-color: #F7F9FF;
  padding-top: 2rem;
}

.sketching-intro {
  background-color: #F7F9FF;
}

.sketch-1, .sketch-2, .lofi-wires-mobile {
  margin: 0 2rem;
}


.lofi-wires-desktop {
  display: none;
}

.lofi-testing ul {
  margin: 0;
  padding-left: 1.5rem;
  padding-top: 1rem;
}

.lofi-testing li {
  font-size: 1.7rem;
  font-weight: 300;
  padding: 1rem 0;
}

.key-li {
  font-weight: 700;
}

.sketches-btn {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 3rem;
}

.hifi-mockups {
}

.hifi-1 {
  margin: 2rem 0 1rem 0;
}

.hifi-2 {
  margin-bottom: 0;
  padding-bottom: 0;
}


.test {
  font-size: 1.7rem;
  color: #1A264A;
  font-weight: 900;
  padding-bottom: 2rem;
  padding-top: 0;

}

.hifi-btn {
  margin: 0 2rem;
}

.ab-testing {
  margin: 0 2rem;
  padding-top: 4rem;
}

.hifi-info {

}
.data-info {
  margin-top: 1rem;
  margin-bottom: 0;
}

.info-detail {
  padding-bottom: 2rem;
}

.info-detail {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.info-detail h3 {
  color: #FF4242;
  font-weight: 700;
}

.crit-info-2 > .info-detail h3 {
  color: #00CF96;
}

.info-detail p {
  margin-left: 1rem;
}

.testing-btn {
  margin-bottom: 3rem;
  margin-top: 0;
}

.iteration-intro {
  margin-top: 0;
}

.crit-iteration {
  margin-top: 2rem;
  padding-top: 1rem;
  background-color: #F7F9FF;
}

.iter-1 {
  display: none;
}

.iter-2 {
  margin: 0 2rem;
  padding: 0;
}

.iter-3 {
  margin: 0 2rem;
  padding: 0;
}


.crit {
  margin-bottom: 0;
}

.crit-submit {
  padding: 2rem 0;
  margin: 0 2rem;
}

.crit-revised {
  margin: 0 2rem;
}

.crit-info {
  margin-bottom: 0;
}

.crit-btn {
  padding-bottom: 4rem;
}

.iteration1, .iteration2, .iteration3, .iteration4 {
  margin: 0 1rem;
}



.iteration-1-btn {
  margin: 0;
}

.usability-testing {
}

.usability-testing ul {
  margin: 0;
  padding-left: 1.5rem;
}

.usability-testing li {
  font-size: 1.7rem;
  font-weight: 300;
  padding: 1rem 0;
}

.iterations-btn {
  margin: 0 2rem;
  padding: 2rem 0;
}

.finishing-touches {
  background-color: #F7F9FF;
}

.state1, .state2, .state3, .state4 {
  margin: 0 1rem;
}

.states-btn {
  margin: 0 2rem;
  padding-top: 3rem;
}

.styleguide-btn {
  margin-bottom: 0;
  padding-bottom: 0;
}

.process-btn {
  padding: 0;
  margin-top: 1.5rem;
}

.conclusion {
 background-color: #F7F9FF;
}

.learn {
}

.learn p {
  margin-bottom: 2rem;
}


/* TABLET CONTENT */
@media screen and (min-width:768px) {

figcaption {
  padding-top: 2rem;
  font-size: 1.7rem;
}
.project-hero {
  grid-column: 1 / -1;
}

.project-img-mobile {
  display: none;
}

.project-img {
  display: block;
  width: 100%;
  margin: auto;
  padding: 3rem 3rem;
}

.introduction, .problem, .solution, .user-survey, .survey-insights, .survey-btn,
.comp-analysis, .comp-btn, .persona-intro, .persona-1, .persona-2, .user-stories, .sketching-intro, .lofi-testing
.hifi-mockups, .ab-testing, .data-info, .testing-btn, .iteration-intro, .crit-iteration, .crit, .usability-testing,
.conclusion {
  margin: 3rem 0;
  padding: 0;
}

.project-image {
  display: block;
  grid-column: 2 / 6;
  width: 80%;
}

button {
  margin-top: 1rem;
  width: 49%;
}

.project-info {
  background-color: #F7F9FF;
  padding-bottom: 2rem;
  display: flex;
  border-radius: 1rem;
  margin: 0 0 5rem 0;
}

.project-info h4 {
  padding-top: 2rem;
}

.project-info ul {
  margin-top: .2rem

}

.roles, .timeframe, .deliverables {
  margin: 0 auto;
}

.introduction p {
  margin: 2rem 0;
}

.introduction button {
  width: 47%;
}

#intro-btn1 {
  width: 48%;
}

#intro-btn2 {
  margin-left: 2rem;
  width: 48%;
}

.project-info h4, .project-info ul {
  margin-left: 2rem;
  margin-bottom: 0;
}

.problem-solution {
  grid-column: 1 / -1;
  grid-template-columns: 8rem repeat(4, 1fr) 8rem;
  display: grid;
  grid-column-gap: 2rem;
}

.solution {
  margin-top: 0;
}

.user-survey {
  margin-top: 5rem;
  margin-bottom: 0.5rem;
}

.survey-insights {
  grid-column: 1 / -1;
  padding: 4rem 0;
}

hr {
  width: 85%;
}

.survey-btn {
  margin: 0;
}

.survey-insights p {
  padding-left: 3rem;
}

.survey-insights div {
  margin: 1rem 8rem;
}

.survey-insights h4 {
  text-align: left;
  padding-left: 2rem;
}

 .survey-data {
 display: flex;
 flex-direction: row;
 align-items: baseline;
 padding-bottom: 3rem;
}

.info-head {
  padding-bottom: 1rem;
  text-align: left;
}

.survey-btn {
  padding-bottom: 3rem;
}

.survey-btn, .comp-btn, .persona-btn, .stories-btn, .sketches-btn, .hifi-btn, .testing-btn, .iterations-btn, .states-btn {
  grid-column: 3 / 5;
}

.comp-insights {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  text-align: center;
  margin-bottom: 2rem;
}

.comp-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comp-data h2 {
  padding-top: 1rem;
}

.comp-btn {
  margin-top: 1rem;
}

button {
  width: 100%;
}

.discovery {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 8rem repeat(4, 1fr) 8rem;
  grid-template-rows: auto;
  grid-column-gap: 2rem;
  padding: 3rem 0;
}

/* rows and columns are within the discovery nested grid */
.persona-intro {
  margin-top: 0;
}

.persona-1, .persona-2 {
  margin-top: 0;
  box-shadow: 0 1rem 2rem 0 rgba(207, 213, 230, 0.50)
}

.persona-1 {
  grid-column: 1 / 4;
  margin-left: 2rem;
}

.persona-2 {
  grid-column: 4 / -1;
  margin-right: 2rem;
}

.persona-btn {
  margin: 0;
}

.user-stories li {
  font-size: 1.7rem;
}

.sketching {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 8rem repeat(4, 1fr) 8rem;
  grid-column-gap: 2rem;
  padding: 3rem 0;
  margin: 4rem 0;
}

.sketch-1 {
  grid-column: 1 / 4;
  margin-left: 2rem;
}

.sketch-2 {
  grid-column: 4 / -1;
  margin-right: 2rem;
}

.lofi-wires-mobile {
  display: none;
}

.lofi-wires-desktop {
  display: block;
  grid-column: 1 / -1;
  margin: 0 2rem;
}


.lofi-testing li{
  font-size: 1.7rem;
  padding-left: 1rem;
}

.testing-btn {
  margin-top: 0;
  padding-top: 0;
}

.data-info {
  margin: 0;
  padding: 2rem 0;
}

.hifi-mockups {
  margin-left: 0;
  margin-top: 0;
}

.hifi-1 {
  grid-column: 1 / 4;
  margin-left: 2rem;
  margin-top: 0;
}

.hifi-2 {
  grid-column: 4 / -1;
  margin-right: 2rem;
}

.circle-dot {
  display: none;
}
.hifi-btn {
  padding: 0;
}

.test {
  font-size: 2rem;
  font-weight: 900;
  padding-bottom: 2rem;
  padding-top: 0;

}

.info-detail h3 {
  background-color: #FF4242;
  height: 3.5rem;
  width: 3.5rem;
  text-align: center;
  line-height: 3.5rem;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
  color: #FFF;
}

.crit-info-2 > .info-detail h3 {
  background-color: #00CF96;
  color: #FFFFFF;
}



.iter-2 {
  grid-column: 2 / 4;
  margin: 2rem 0 2rem 0;
}

.iter-3 {
  grid-column: 4 / 6;
  margin-top: 3rem;
  margin: 2rem 0 2rem 0;
}

.crit-iteration {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 8rem repeat(4, 1fr) 8rem;
  grid-template-rows: auto;
  grid-column-gap: 2rem;
  padding-bottom: 6rem;
}

.crit {
  margin: 3rem 0;
}

.crit-submit {
  grid-column: 2 / 4;
}

.crit-info {
  grid-column: 4 / 6;
  margin: 0;
  padding-top: 5rem;
}

.crit-btn {
  margin-bottom: 5rem;
}

.crit-revised {
  grid-column: 2 / 4;
}

.crit-info-2 {
  grid-column: 4 / 6;
  margin: 0;
}

.crit-revised, .crit-info-2 {
  padding-top: 6rem;
}

.crit-info > .info-detail {
  padding-top: 1rem;
}

.crit-info-2 > .info-detail {
  padding-top: 4rem;
}

.usability-testing {
  margin-top: 0;
}

.usability-testing ul {
  padding: 2rem 0;
}

.iteration1 {
  grid-column: 1 / 4;
  margin-left: 2rem;
}

.iteration2 {
  grid-column: 4 / -1;
  margin-right: 2rem;
}

.iteration3 {
  grid-column: 1 / 4;
  margin-left: 2rem;
}

.iteration4 {
  grid-column: 4 / -1;
  margin-right: 2rem;
}

.finishing-touches {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 8rem repeat(4, 1fr) 8rem;
  grid-template-rows: auto;
  grid-column-gap: 2rem;
  padding: 3rem 0;
  margin: 4rem 0;
}

.finishing-intro {
}

.state1 {
  grid-column: 1 / 4;
  margin-left: 2rem;
}

.state2 {
  grid-column: 4 / -1;
  margin-right: 2rem;
}

.state3 {
  grid-column: 1 / 4;
  margin-left: 2rem;
}

.state4 {
  grid-column: 4 / -1;
  margin-right: 2rem;
}

.states-btn {
}

.identity {
  margin-top: 0;
}

.logo-sketch {
  grid-column: 1 / 4;
  margin-left: 2rem;
}

.logo-digital {
  grid-column: 4 / -1;
  margin-right: 2rem;
}

.logo-final {
  grid-column: 1 / -1;
  margin: 0 2rem;
}

.styleguide-btn {
  grid-column: 2 / 4;
  margin: 2rem 0;
}

.process-btn {
  grid-column: 4 / 6;
  margin: 2rem 0;
}

.conclusion {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 8rem repeat(4, 1fr) 8rem;
  grid-column-gap: 2rem;
  margin-bottom: 0;
}

/* ALL PARAGRAPHS on SAME COLUMN go here */
.introduction, .project-info, .problem, .solution, .user-survey, .comp-analysis, .persona-intro, .user-stories, .sketching-intro, .lofi-testing,
.hifi-mockups, .ab-testing, .data-info, .iteration-intro, .crit, .usability-testing, .finishing-intro, .identity, .learn {
  grid-column: 2 / 6;
}

}

/* LAPTOP CONTENT */

@media screen and (min-width:1224px) {

.grid-wrapper {
  grid-template-columns: minmax(5rem, auto) repeat(12, [row] 8rem) minmax(5rem, auto);
  grid-column-gap: 2rem;
}

/* ALL PARAGRAPHS on SAME COLUMN go here */
.problem, .solution, .user-survey, .comp-analysis, .info-graph, .persona-intro, .user-stories, .sketching-intro, .lofi-testing,
.hifi-mockups, .ab-testing, .data-info, .iteration-intro, .crit, .usability-testing, .finishing-intro,
.identity, .learn {
  grid-column: 4 / 12;
}

/* ALL BUTTONS on the SAME COLUMN go here */
.survey-btn, .comp-btn, .persona-btn, .stories-btn, .sketches-btn, .hifi-btn, .testing-btn, .iterations-btn, .states-btn {
  grid-column: 6 / 10;
}

.project-hero {
  grid-column: 1/ -1;
}

.project-img {
  width: 90%;
}

.introduction {
  grid-column: 3 / 11;
}

.project-info {
  grid-column: 11 / 14;
  display: block;
  margin-top: 3rem;
}

#intro-btn1 {
  width: 37rem;
}

#intro-btn2 {
  margin-left: 2rem;
  width: 37rem;
}

.problem-solution {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: minmax(5rem, auto) repeat(12, [row] 8rem) minmax(5rem, auto);
  grid-column-gap: 2rem;
  padding: 3rem 0;
  margin: 5rem 0;
}

.user-survey {
  margin: 0;
  padding-top: 2rem;
}

.survey-insights {
  grid-column: 3 / 13;
  border-radius: 1rem;
}

.survey-insights div {
  margin-left: 8rem;
  padding-bottom: 3rem
}

.info-head h4 {
  padding-bottom: 0;
  margin: 0;
}

hr {
  width: 80%;
}

.comp-insights {
  grid-column: 4 / 12;
  border-radius: 1rem;
}

.comp-data {
  display: block;
  margin: 0;
  align-items: center;
}

.comp-data h2 {
  padding-top: 0;
}

.data-icon {
  margin-top: 5rem;
}

.discovery {
  grid-template-columns: minmax(5rem, auto) repeat(12, [row] 8rem) minmax(5rem, auto);
}

/* rows and columns are within the discovery nested grid */
.persona-1 {
  grid-column: 3 / 8;
  margin-left: 0;
}

.persona-2 {
  grid-column: 8 / 13;
  margin-right: 0;
}

.persona-1 h3, .persona-2 h3 {
  font-size: 2rem;
}

.bio-persona p {
  font-size: 1.7rem;
  line-height: 3rem
}

.persona-info li, .quote {
  font-size: 1.7rem;
}

.persona-btn {
  padding-bottom: 3rem;
}

.user-stories li {
  font-size: 2rem;
}

.sketching {
  grid-template-columns: minmax(5rem, auto) repeat(12, [row] 8rem) minmax(5rem, auto);
}

.sketch-1, .sketch-2 {
  align-items: center;
}

.sketch-1 {
  grid-column: 1 / 8;
}

.sketch-2 {
  grid-column: 8 / -1;
}

.lofi-testing li {
  font-size: 2rem;
  line-height: 3.5rem;
}

.hifi-1 {
  grid-column: 2 / 8;
  margin-left: 0;

}

.hifi-2 {
  grid-column: 8 / 14;
  margin-right: 0;

}

.iter-1 {
  display: block;
  grid-column: 3 / 6;
  margin: 0;
  padding: 0;
}

.iter-2 {
  grid-column: 6 / 9;
  margin: 0;
  padding: 0;
}

.iter-3 {
  grid-column: 9 / 12;
  margin: 0;
}

.crit-iteration {
    grid-template-columns: minmax(5rem, auto) repeat(12, [row] 8rem) minmax(5rem, auto);
}

.crit-submit, .crit-revised {
  grid-column: 3 / 8;
}

.crit-info, .crit-info-2 {
 grid-column: 8 / 13;
}

.usability-testing li {
font-size: 2rem;
}

.iteration1, .iteration3 {
  grid-column: 2 / 8;
}

.iteration2, .iteration4 {
  grid-column: 8 / 14;
}

.finishing-touches {
  grid-template-columns: minmax(5rem, auto) repeat(12, [row] 8rem) minmax(5rem, auto);
}
.state1 {
  grid-column: 2 / 8;
  margin: 0;
}

.state2 {
  grid-column: 8 / 14;
  margin: 0;
}

.state3 {
  grid-column: 2 / 8;
  margin: 0;
}

.state4 {
  grid-column: 8 / 14;
  margin: 0;
}

.logo-sketch {
  grid-column: 2 / 8;
}

.logo-digital {
  grid-column: 8 / 14;
}

.logo-final {
  grid-column: 2 / 14;
}

.styleguide-btn {
  grid-column: 4 / 8;
}

.process-btn {
  grid-column: 8 / 12;
}

.conclusion {
  grid-template-columns: minmax(5rem, auto) repeat(12, [row] 8rem) minmax(5rem, auto);

}

}


/* FRUITION STUDENT LOANS */

.comp-insights-f {
  background-color: #00B38A;
  color: #FFFFFF;
  padding: 4rem 0;
}

.comp-data-f {
  text-align: left;
  line-height: 1rem;
}

.comp-detail-f {
  margin: 2rem 0;
  display: flex;
  align-items: baseline;
}

.comp-detail-f p {
  padding: 0 1rem;
}

.comp-detail-f h3 {
    background-color: #FFFFFF;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 50%;
    color: #00B28B;
    margin-bottom: 1rem;
  }


.comp-data-f h2, p {
  margin: 0;
}

@media screen and (min-width:768px) {

  .comp-insights-f {
    grid-column: 1 / -1;
    grid-template-rows: auto;
    text-align: center;
    margin: 1rem 0;
  }

  .comp-detail-f {
    margin-left: 8rem;
    margin-right: 8rem;

  }

  .comp-data-f {
    align-items: center;
    grid-column: 1 / -1;
  }

  .comp-data-f h2 {
    padding-top: 1rem;
  }
}

@media screen and (min-width:1224px) {

  .comp-insights-f {
    grid-column: 4 / 12;
    border-radius: 1rem;
  }

  .comp-data-f {
    display: block;
    margin: 0;
    align-items: center;
  }
}
