
/* MOBILE CONTENT */

img {
  max-width: 100%;
}

.project-hero {
  background-image: linear-gradient(to bottom, rgb(20, 190, 108), rgb(0, 178, 139));
  padding-top: 8rem;
  padding-bottom: 1rem;
}

.project-img {
  justify-content: center;
  align-self: center;
  text-align: center;
  color: white;
  padding: 3rem 2rem;
}

.project-img-mobile {
  width: 90%;
  margin: auto;
  padding: 2rem 0;
  text-align: center;
  color: white;
}

.fruition-logo {
  width: 17em;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.comp-insights {
  background-color: #00B38A;
  color: #FFFFFF;
  padding: 4rem 0;
}

.comp-data {
  text-align: left;
  line-height: 1rem;
}

.comp-detail {
  padding: 2.5rem 0;
  display: flex;
  align-items: baseline;
}

.comp-detail p {
  padding: 0 1rem;
}

.comp-detail h3 {
    background-color: #FFFFFF;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 50%;
    color: #00B28B;
    margin-bottom: 1rem;
    font-weight: 700;
  }


.comp-data h2, p {
  margin: 0;
}

.target-demo {
  background-color: #00B38A;
  color: #FFFFFF;
  padding: 4rem 0;
}

.target-data {
  text-align: center;
  line-height: 3rem;
  padding: 2rem 0;
}

.target-analysis ul {
  margin: 0;
  padding-left: 1.5rem;
}

.target-analysis li {
  font-size: 1.7rem;
  font-weight: 600;
  padding: 1.5rem 0;
}

.target-data h2, p {
  margin: 0;
}

.student-icon {
  width: 5rem;
  height: 6rem;
}

.money-icon {
  width: 6rem;
  height: 6rem;
}

.flows-img {
  margin-top: 0;
  padding-top: 0;
}

.sketch-1-f, .sketch-2-f, .lofi-wires-1-f, .lofi-wires-2-f {
  margin-left: 2rem;
  margin-right: 2rem;
}
/* Similar to sphere, but slight difference */
.usability-testing-1 {
  padding-top: 3rem;
}
.usability-testing-1 ul {
  margin: 0;
  padding-left: 1.3rem;
}

.usability-testing-1 li {
  font-size: 1.7rem;
  font-weight: 300;
  padding: 1rem 0;
}

/* Dashboard and Landing Page Testing */

.ab-testing-1 {
  padding-top: 1;
}

.ab-testing-1 p, .ab-testing-2 p {
  margin-bottom: 2rem;
}

.ab-testing-2 {
  margin: 0 2rem;
  padding-top: 2rem;
}

.ab-2-intro {
  padding-bottom: 2rem;
}

.iter-1-f, .iter-2-f, .iter-3-f {
  margin: 0 2rem;
}

.crit-submit-f, .crit-revised-2f {
  margin: 0 2rem;
}
.crit-submit-2f, .crit-revised-f {
  display: none;
}

.crit-revised-2f {
  padding-top: 6rem;
}

.status, .status-2, .meeting, .meeting-2, .add-loan, .add-loan-2, .state1-f, .state2-f {
  margin: 0 2rem;
}


.mobile-designs p {
  padding-bottom: 2rem;
}

.logo-sketch-f {
  margin: 0 2rem;
  padding-bottom: 2rem;
}


/* TABLET CONTENT */
@media screen and (min-width:768px) {


.comp-insights {
  grid-column: 1 / -1;
  grid-template-rows: auto;
  text-align: center;
  margin-bottom: 2rem;
}

.comp-detail {
  margin-left: 8rem;
  margin-right: 8rem;

}

.comp-data {
  align-items: center;
  grid-column: 1 / -1;
}

.comp-data h2 {
  padding-top: 1rem;
}

.comp-btn {
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.target-analysis {
  padding-top: 4rem;
}

.target-demo {
  grid-column: 1 / -1;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.target-data {
  margin: 0 2rem
}

.user-stories li {
  font-size: 1.7rem;
}

.flows-img {
  grid-column: 2 / 6;
  margin-left: 0;
  margin-right: 0;
}
/* Unique placement of sketches and wireframes in this case study */
.sketch-1-f, .sketch-2-f, .lofi-wires-1-f, .lofi-wires-2-f {
  grid-column: 2 / 6;
  padding-top: 3rem;
  margin-left: 0;
  margin-right: 0;
}

.usability-testing-1 {
  padding-top: 3rem;
  margin: 0;
}

.usability-testing-1 li{
  font-size: 1.7rem;
  padding-bottom: 2rem;
}

.ab-testing-2 {
  padding-top: 8rem;
}

.iter-1-f, .iter-2-f, .iter-3-f {
  margin-left: 0;
  margin-right: 0;
}

.iter-1-f {
  grid-column: 2 / 4;
  padding-top: 3rem;
}

.iter-2-f {
  grid-column: 4 / 6;
  padding-top: 3rem;
}

.iter-3-f {
  grid-column: 2 / 6;
  padding-top: 2rem;
}

.crit-submit-f, .crit-revised-2f {
  grid-column: 2 / 4;
}

.crit-revised-2f {
  padding-top: 4rem;
}

.crit-info {
  grid-column: 4 / 6;
  margin: 0;
}

.crit-btn {
  margin-bottom: 5rem;
}

.crit-info-2 {
  grid-column: 4 / 6;
  margin: 0;
}

.mobile-landing {
  grid-column: 2 / 4;
}

.mobile-dashboard {
  grid-column: 4 / 6;
}

.usability-testing {
  margin: 0;
  padding: 0;
}

.usability-testing ul {
  padding: 2rem 0;
}

  .usability-testing-2 {
    margin-top: 4rem;
  }

  .usability-testing-2 p {
    padding-bottom: 4rem;
  }

/* Placing other Fruition iterations on the grid */

.status {
  grid-column: 1 / 4;
  margin-left: 2rem;
  padding-bottom: 3rem;
  border: 0.1rem solid #F8F9FD;
}

.status-2 {
  grid-column: 4 / -1;
  margin-right: 2rem;
  padding-bottom: 3rem;
}

.meeting {
  grid-column: 1 / 4;
  margin-left: 2rem;
  padding-bottom: 3rem;
}

.meeting-2 {
  grid-column: 4 / -1;
  margin-right: 2rem;
  padding-bottom: 3rem;
}

.add-loan {
  grid-column: 1 / 4;
  margin-left: 2rem;
  padding-bottom: 3rem;
}

.add-loan-2 {
  grid-column: 4 / -1;
  margin-right: 2rem;
  padding-bottom: 3rem;
}

.state1-f {
  grid-column: 2 / 6;
}

.state2-f {
  grid-column: 2 / 6;
  padding-top: 3rem;
}


.logo-sketch-f {
  grid-column: 1 / -1;
  margin-left: 2rem;
}

}

/* LAPTOP CONTENT */

@media screen and (min-width:1224px) {


/* ALL PARAGRAPHS on SAME COLUMN go here */
