* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #000;
  margin: 0 2rem;
  font-family: "ff-real-text-pro", Helvetica, sans-serif;
  line-height: 2.5rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.grid-wrapper {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(90px, auto);
  margin: 0;
}

header {
  padding: 2rem 0.4rem;
  background-color: rgba(255, 255, 255, 0.95);
  border-top: 0.6rem solid rgb(12, 190, 169);
  border-bottom: 0.1rem solid rgb(225, 225, 225);
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  width: 100%;
  justify-content: space-between;
}

  .logo-container {
      margin-left: 2rem;
  }

  .nav-link {
  padding: 1.2rem;
  text-decoration: none;
  color: rgb(128, 136, 158);
  }

  .nav-links li {
    display: inline-block;
    padding-left: 2.5rem;
  }
/*
.nav-links {
  display: none;
}
*/


.hero {
  background-color: #fff;
  color: black;
  grid-row: 1 / 2;
  padding: 20rem 2rem;
}

.project-1 {
    background-image: linear-gradient(to bottom, rgb(20, 190, 108), rgb(0, 178, 139));
}

.project-1-text {
}

.project-2 {
  grid-row: 4 / 5;
  background-color: blue;
  padding: 3rem 2rem;
  justify-content: center;
}

.contact-me {
  grid-row: 5 / 6;
  padding: 3rem 2rem;
  text-align: center;
}

footer {
  grid-row: 6 / 7;
  background-color: #ccc;
  padding: 3rem;
}


h1 {
  font-size: 4.4rem;
  font-weight: 900;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
}

p {
  font-size: 1.7rem;
}



/*

@media screen and (min-width:768px) {
}
*/

@media screen and (min-width:1025px) {

.grid-wrapper {
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2rem;
}

.nav-links {
  font-size: 1.7rem;
}

  .hero {
  grid-column: 4 / 9;
  grid-row: 1 /2;
  padding: 40rem 0;
}

.hero h1, h3 {
  text-align: center;
}

h1 {
  font-size: 6.4rem;
}

h3 {
  font-size: 2.8rem;
  line-height: 3rem;
}


.project-1 {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2rem;
  padding: 20rem 0;
  color: white;
  align-items: center;
  line-height: 0;

}

.project-1-text {
  grid-column: 2 / 5;
  grid-row: 1;
}

h2 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 4rem
}

p {
  font-size: 2rem;
  line-height: 2.5rem;
}

.project-1-img {
  grid-column: 5 / 12;
  grid-row: 1;

}

.project-2 {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2rem;
  height: 100vh;
  color: white;
  align-items: center;

}

.project-2-text {
  grid-column: 2 / 5;
  grid-row: 1;


}

.project-2-img {
  grid-column: 5 / -1;
  grid-row: 1;

}

  background-color: blue;
  padding: 3rem 2rem;
  justify-content: center;
}

.contact-me {
  grid-row: 5 / 6;
  padding: 3rem 2rem;
  text-align: center;
}

footer {
  grid-row: 6 / 7;
  background-color: #ccc;
  padding: 3rem;
}

}
