* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  background-color: #FFFFFF;
  color: #12192F;
  font-family: "ff-real-text-pro", Helvetica, sans-serif;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;

}

img {
  max-width: 100%;
}

/* MOBILE FIRST DESIGN */

/* Typography Styling + Media Queries */


h1, h2, h3, h4, h5, h6, p {
  margin: 1rem 0;
}

h1 {
  font-size: 3.8rem;
  font-weight: 900;
  line-height: 3.8rem;
  margin-bottom: 0;
}

h2 {
  font-size: 2.6rem;
  line-height: 3rem;
}

h3 {
  font-size: 2.0rem;
  font-weight: 300;
  line-height: 3rem;
}

h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #0CBEA9;
}

.h4-landing {
  color: #FFFFFF;
}

p {
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 3rem;
}

li {
  line-height: 3rem;
}

@media screen and (min-width:768px)
{
  h1, h2, h3, h4, h5, h6, p {
    margin: 1.5rem 0;
  }

  h1 {
    font-size: 5.4rem;
  }

  h2 {
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 3rem;
  }

  h3 {
    font-size: 2.2rem;
    line-height: 3.5rem;
  }


  p {
    font-size: 1.7rem;
    line-height: 3rem;
  }
}

@media screen and (min-width:1224px) {

  h1 {
    font-size: 6.4rem;
    margin-bottom: 4rem;
    line-height: 0;
  }

  h2 {
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 4rem;
  }

  h3 {
    font-size: 2.5rem;
    line-height: 4rem;
  }

  p {
    font-size: 2rem;
    line-height: 3.5rem;
  }

}

/* END TYPOGRAPHY STYLING */

/* Sticky Navigation - Outside Grid Wrapper */

header {
  padding: 1.5rem 0.4rem;
  background-color: rgba(255, 255, 255, 0.93);
  border-top: 0.6rem solid #0CBEA9;
  box-shadow: 0 0 0 0.1rem rgba(0,0,0,0.05),0 0 0.5rem 0 rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  z-index: 1;
  position: fixed;
  width: 100%;
  justify-content: space-between;
}


.logo-container {
    margin-left: 1.5rem;
}

.cd-logo {
  height: 80%;
  width: 5rem;
}

/* Hamburger Menu */
.hamburger {
  position: absolute;
  top: 5rem;
  right: 3rem;
  margin-left: -2rem;
  margin-top: -3.4rem;
  width: 2rem;
  height: 4.5rem;
  z-index: 2;
}

.hamburger div {
  position: relative;
  width: 3rem;
  height: .4rem;
  border-radius: 0.1rem;
  background-color: #22293b;
  margin-top: 0.5rem;
  transition: all 0.4s ease-in-out;
}

/* NAV STYLES - Hamburger Menu  */
.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 191, 169, 0.98), rgba(63, 165, 216, 0.98));
  top: -100%; left: 0; right: 0; bottom: 0;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  transform: translate(0, -100%);
}

.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
}

.menu ul {
  padding: 0;
  margin-top: 1.5rem;
  list-style: none;
}


.menu {
  text-align: left;
  margin-left: 10%;
  font-weight: 700;
}

.menu a {
  position: relative;
  text-decoration: none;
  color: #FFF;
  font-size: 1.7rem;
  display: inline-block;
  margin-top: 2rem;
  transition: color 0.2s ease-in-out;
  letter-spacing: 0.1rem;
}

.menu a:before {
  content: '';
  height: 0;
  position: absolute;
  width: 0.4rem;
  background-color: white;
  left: -0.5em;
  transition: all 0.2s ease-in-out;
}
.menu a:hover {
  color: white;
  font-weight: 900;
  transition: 0.2s ease all;
}
.menu a:hover:before {
  height: 100%;
}

#toggle {
  display: none;
}
/**
Animations
**/
#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 2.5rem;
  background-color: white;
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -0.5rem;
  background-color: white
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}

.nav-links {
  display: none;
}


@media screen and (min-width:768px) {

header {
  padding: 0.3rem 0.4rem;
}


.nav-link {
  padding: 2.1rem;
  text-decoration: none;
  color: #80889E;
  }

  .nav-links li {
    display: inline-block;
  }

.nav-links {
  display: block;
  font-size: 1.7rem;
  font-weight: 600;
}

.nav-link:hover {
  color: #0B23FF;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.nav-link:active {
  color: #0B23FF;;
  cursor: pointer;
}


#toggle, .nav, .hamburger {
  display: none;
}

}

@media screen and (min-width:1224px) {

  .logo-container {
      margin-left: 10rem;
  }

  .nav-links {
    margin-right: 10rem;
  }
}

/* END NAVIGATION STYLES and MEDIA QUERIES */


/* GLOBAL GRID WRAPPERS */

.grid-wrapper {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(9rem, auto);
}

@media screen and (min-width:768px) {
  .grid-wrapper {
    grid-template-columns: 8rem repeat(4, 1fr) 8rem;
    grid-column-gap: 2rem;
  }

}

@media screen and (min-width:1224px) {

  .grid-wrapper {
    grid-template-columns: minmax(5rem, auto) repeat(12, [row] 8rem) minmax(5rem, auto);
}

}

/* END GLOBAL GRID WRAPPERS */



/* Global Margin on all content inside the grid wrapper */
/* Same for mobile and tablet, but zero for desktop */
.hero-content, .project-1-text, .project-1-img, .project-2-text, .project-2-img, .contact-me, footer {
  margin: 0 2rem;
}

  @media screen and (min-width:1224px) {
    .hero-content, .project-1-text, .project-1-img, .project-2-text, .project-2-img, .contact-me, footer {
      margin: 0;
}

}

/* HERO CONTENT */

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: 100vh;
  align-content: center;

}

.intro-h1, .intro-h3 {
  color: #0CBEA9;
}

.intro-h3 {
  font-weight: 700;
}

.hero-content {
  text-align: left;
  padding-top: 5rem;
  margin: 0 2rem;
}

#subhead {
  color: #454F69;
  line-height: 3rem
}

/* Style to not display the mouse icon */
.scroll {
  display: none;
}

@media screen and (min-width:768px) {

.hero {
  grid-column: 2 / 6;
  position: relative;
}

.hero-content {
  text-align: center;
  margin: 0;
}

.mouse-icon {
  height: 1.7rem;
  width: 4.9rem;
}

.scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: 1.5rem;
  display: block;
}

}

@media screen and (min-width:1224px) {

.hero {
  display: grid;
  grid-template-columns: [edge-start] minmax(1rem, 1fr) [content-start] repeat(12, minmax(1rem, 6rem)) [content-end] minmax(1rem, 1fr) [edge-end];
  grid-column: 1 / -1;
  grid-gap: 2rem;
}

.hero-content {
  grid-column: 3 / 13;
}

#subhead {
  color: rgb(100, 109, 131);
  line-height: 4rem
}

.feat-projects {
  grid-column: 7 / 9;
  text-align: center;
  bottom: 0;
}



}

/* END HERO CONTENT */




/* DESIGN PROJECTS */

/* MOBILE */
.project-1 {
    background-image: linear-gradient(to bottom, rgb(20, 190, 108), rgb(0, 178, 139));
    color: #FFFFFF;
}

.project-2 {
  background-image: linear-gradient(to bottom, rgb(0, 96, 208), rgb(10, 132, 227));
  color: #FFFFFF;
}

.project-1, .project-2, .contact-me, footer {
  padding: 10rem 0rem;
  text-align: center;
}

.project-1-text, .project-2-text {
  grid-column: 2 / 6;
  margin: 3rem 2rem 0 2rem;
  padding-top: 0;
}

/* TABLET */
@media screen and (min-width:768px) {

.project-1, .project-2 {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 12rem repeat(4, 1fr) 12rem;
  grid-template-rows: auto;
}

.project-1-img, .project-2-img {
  grid-column: 1 / -1;
  margin: 0 2rem;
}

.project-1-text, .project-2-text {
  grid-column: 2 / 6;
  margin: 3rem 10rem;
  padding-top: 0;
}

}

/* LAPTOP */

  @media screen and (min-width:1224px) {
    .project-1, .project-2, .contact-me, footer {
    text-align: left;
}

.project-1, .project-2 {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: minmax(1rem,10rem) repeat(10, 1fr) minmax(1rem,10rem);
  grid-column-gap: 2rem;
  padding: 20rem 0;
  margin: 0;
  align-items: center;
}

.project-1-text, .project-2-text {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  margin-left: 10rem;
}

.project-1-img, .project-2-img {
  grid-column: 5 / 13;
  grid-row: 1 / 2;
  margin-right: 10rem;
  margin-left: 3rem;
}

}


/* END DESIGN PROJECTS */

/* GET IN TOUCH SECTION */

.contact-me {
  grid-column: 1 / -1;
  padding: 6rem 0;
  text-align: center;
}

.email h2 {
  padding-bottom: 2rem;
}

@media screen and (min-width:1224px) {

.contact-me {
  padding: 8rem 0;
}

.contact-me > form {
  width: 20rem;
}
}

/* END GET IN TOUCH SECTION */

/* Buttons */

button {
  height: 6rem;
  width: 25rem;
  border-radius: .5rem;
  border: 0;
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
  background-color: #0B23FF;
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
}

button:hover {
  background-color: #0015D1;
  transition: 0.3s ease all;
  cursor: pointer;
}

.fruition-btn, .sphere-btn {
  color: #FFFFFF;
  border: 0.2rem solid #FFFFFF;
  background-color: transparent;
  border-radius: .5rem;
  box-shadow: none;
  margin-top: 1rem;
}

.fruition-btn:hover, .sphere-btn:hover {
  color: #07B682;
  transition: 0.3s ease all;
  background-color: #FFFFFF;
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
}

.sphere-btn:hover {
  color: #0777DC;
}

/* NO MEDIA QUERIES FOR TABLET */


@media screen and (min-width:1224px) {

button {
  font-size: 1.7rem;
  height: 7rem;
  width: 21.7rem;
}

}

/* END Buttons */

/* Footer */

footer {
  background-color: #F8FAFF;
  grid-column: 1 / -1;
  margin: 0;
  padding: 3rem 1rem;
}

.social-links a {
  padding: 0 1.5rem;
  color: #0B23FF;
}

.social-links a:hover {
  color: #0015D1;
  transition: 0.3s ease all;
}

footer p {
  font-size: 1.7rem
}


@media screen and (min-width:1224px)

{

footer {
  grid-column: 1 / -1;
  padding: 2rem 0;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10rem;
}
}

/* End Footer */
/*** END LANDING PAGE STYLES ***/



/**** CONTACT PAGE ****/

.contact-wrapper {
  display: grid;
}

.say-hello {
  margin: 15rem 1rem 0rem 1rem;
  text-align: center;
}

.say-hello p {
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
}

input {
  font-family: "ff-real-text-pro", Helvetica, sans-serif;
  font-size: 1.5rem;
  border: none;
  border: 0.1rem solid #DBE2F4;
  border-radius: .5rem;
  padding-left: 1rem;
  height: 4rem;
}

input:focus {
  border: .2rem solid rgb(11, 35, 255);
}

.contactForm div {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  margin: 0 1rem 3rem 1rem;
}

textarea {
  font-family: "ff-real-text-pro", Helvetica, sans-serif;
  font-size: 1.5rem;
  border: 0.1rem solid #DBE2F4;
  border-radius: .5rem;
  height: 12rem;
  padding-left: 1rem;
  padding-top: 1rem;
  resize: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

textarea:focus {
  border: .2rem solid rgb(11, 35, 255);
}
.contactSend {
  font-family: "ff-real-text-pro", Helvetica, sans-serif;
  border: 0;
  border-radius: .5rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgb(11, 35, 255);
  height: 6rem;
  color: rgb(255,255,255);
}

.contactSend:hover {
  background-color: rgb(49, 69, 251);
  cursor: pointer;
}


@media screen and (min-width:768px) {
.contact-wrapper {
  grid-template-columns: repeat(6, 1fr);
}

.say-hello {
  grid-column: 3 / 5;
}

.contactForm {
  grid-column: 3 / 5;
}

}
@media screen and (min-width:1224px) {
.contact-wrapper {
  grid-template-columns: [edge-start] minmax(1rem, 1fr) [content-start] repeat(12, minmax(1rem, 6rem)) [content-end] minmax(1rem, 1fr) [edge-end];
}

.say-hello {
  grid-column: 4 / 11;
  padding-top: 10rem;
}

.contactForm {
  grid-column: 4 / 11;
  padding-bottom: 10rem;
}
}

/*** ABOUT PAGE STYLES *//


.about-text {
 padding-bottom: 8rem;
}

/* ABOUT PAGE */

.about-img {
  margin-top: 12rem;
}

.about-text {
  margin: 0 1rem;
}

@media screen and (min-width:768px) {
 .about-me-image {
   grid-column: 2 / 6;
 }

.about-img {
  grid-column: 2 / 6;
  border-radius: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}


 .about-text {
   grid-column: 2 / 6;
 }
}


@media screen and (min-width:1224px) {

.about-text {
  margin: 0 2rem;
}

.about-text h2 {
  padding-top: 2.1rem;
}

.about-me-image {
  grid-column: 2 / 14;
}

.about-text {
  grid-column: 4 / 12;
  margin: 0;
}

}
