* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  color: rgb(34, 41, 59);
  font-family: "ff-real-text-pro", Helvetica, sans-serif;
  line-height: 2.5rem;
  margin: 0 auto;
  overflow-x: scroll;
  overflow-y: hidden;

}

img {
  max-width: 100%;
}

/* STICKY NAVIGATION */

header {
  padding: 1rem 0.4rem;
  background-color: rgba(255, 255, 255, 0.93);
  border-top: 0.6rem solid rgb(12, 190, 169);
  border-bottom: 0.1rem solid rgb(225, 225, 225);
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  width: 100%;
  justify-content: space-between;
}


.logo-container {
    margin-left: 1rem;
}

.cd-logo {
  height: 80%;
  width: 5rem;
  padding-top: 1rem;
}

.nav-links {
display: none;
}

@media screen and (min-width:1025px) {

.nav-links {
  font-size: 1.7rem;
  margin-right: 13rem;
  display: block;
}

.nav-link {
padding: 1.2rem;
text-decoration: none;
color: rgb(128, 136, 158);
}

.nav-links li {
  display: inline-block;
  padding-left: 2.5rem;
}

.nav-link:hover {
  font-weight: 900;
  color: rgb(34, 41, 59);
  cursor: pointer;
}

.nav-link:active {
  color: rgb(34, 41, 59);
}

.logo-container {
    margin-left: 13rem;
}
}

/* END STICKY NAVIGATION


/* GLOBAL GRID WRAPPERS */

.grid-wrapper {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(90px, auto);
}

@media screen and (min-width:1025px) {

  .grid-wrapper {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(90px, auto);
}


.grid-container {
  display: grid;
}

}

/* END GLOBAL GRID WRAPPERS */

.hero-content, .project-1-text, .project-1-img, .project-2-text, .project-2-img, .contact-me, footer {
  margin: 0 1rem;
}

  @media screen and (min-width:1025px) {
    .hero-content, .project-1-text, .project-1-img, .project-2-text, .project-2-img, .contact-me, footer {
      margin: 0;
}
}

/* HERO CONTENT */

.hero {
  background-color: rgb(255, 255, 255);
  grid-row: 1 / 2;
  padding: 20rem 0 15rem 0;
}

.intro-h1, .intro-h3 {
  color: rgb(12, 190, 169);
}

.intro-h3 {
  font-weight: 700;
}

#subhead {
  color: rgb(62, 74, 104);
}

@media screen and (min-width:768px) {

.hero {
  text-align: center;
}
}

@media screen and (min-width:1025px) {

.hero {
  display: grid;
  grid-template-columns: [edge-start] minmax(1rem, 1fr) [content-start] repeat(12, minmax(1rem, 6rem)) [content-end] minmax(1rem, 1fr) [edge-end];
  grid-column: 1 / -1;
  grid-gap: 2rem;
  height: 100vh;
  align-items: center;
}

.hero-content {
  grid-column: 3 / 13;
}

.hero-content > h3 {
  text-align: left;
}

}

/* END HERO CONTENT */




/* DESIGN PROJECTS */

.project-1 {
    background-image: linear-gradient(to bottom, rgb(20, 190, 108), rgb(0, 178, 139));
    color: rgb(255,255,255);
}

.project-2 {
  background-image: linear-gradient(to bottom, rgb(0, 96, 208), rgb(10, 132, 227));
  color: rgb(255,255,255);
}

.project-1-text {
  grid-row: 3 / 4;
}

.project-1, .project-2, .contact-me, footer {
  padding: 4rem 0rem;
  text-align: center;
}



  @media screen and (min-width:1025px) {
    .project-1, .project-2, .contact-me, footer {
    text-align: left;
    }

    .project-1, .project-2 {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: minmax(1rem,10rem) repeat(10, 1fr) minmax(1rem,10rem);
      grid-column-gap: 2rem;
      padding: 20rem 0;
      margin: 0;
      align-items: center;
    }

    .project-1-text, .project-2-text {
      grid-column: 1 / 5;
      grid-row: 1;
      margin-left: 6rem;
    }

    .project-1-img, .project-2-img {
      grid-column: 5 / 13;
      margin-right: 6rem;
      margin-left: 3rem;
      grid-row: 1;

    }
  }

  @media screen and (min-width:1400px) {

    .project-1, .project-2, .contact-me, footer {
    text-align: left;
    }

    .project-1, .project-2 {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: minmax(1rem,10rem) repeat(10, 1fr) minmax(1rem,10rem);
      grid-column-gap: 2rem;
      padding: 20rem 0;
      margin: 0;
      align-items: center;
    }

    .project-1-text, .project-2-text {
      grid-column: 2 / 5;
      grid-row: 1;
    }

    .project-1-img, .project-2-img {
      grid-column: 5 / 12;
      grid-row: 1;

    }
}

/* END DESIGN PROJECTS */

/* GET IN TOUCH SECTION */

.contact-me {
  grid-column: 1 / -1;
  grid-row: 5 / 6;
  padding: 10rem 0;
  text-align: center;
}

@media screen and (min-width:1025px) {

.contact-me {
  padding: 8rem 0;
  grid-row: 5 / 6;
}

.contact-me > form {
  width: 20rem;
}
}

/* END GET IN TOUCH SECTION */

/* Buttons */

button {
  height: 6rem;
  width: 29rem;
  border-radius: .5rem;
  border: 0;
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
  background-color: rgb(11, 35, 255);
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  margin-top: 2rem;

}

button:hover {
  background-color: rgb(49, 69, 251);
  cursor: pointer;
}

.fruition-btn, .sphere-btn {
  color: #FFFFFF;
  border: 0.2rem solid #ffffff;
  background-color: transparent;
  border-radius: .5rem;
  box-shadow: none;
}

.fruition-btn:hover, .sphere-btn:hover {
  color: #07B682;
  transition: 0.3s all ease;
  background-color: #FFFFFF;
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
}

.sphere-btn:hover {
  color: #0777DC;
}



@media screen and (min-width:1025px)
{
button {
  height: 7rem;
  width: 21.7rem;
}
}

/* END Buttons */

/* Footer */

footer {
  grid-row: 6 / 7;
  background-color: rgb(248, 250, 255);
  padding: 3rem 0;
  margin: 0;
}

.social-links > a {
  padding: 0 1.5rem;
  color: rgb(11, 35, 255);
}

.social-links > a:hover {
  color: rgb(11, 35, 255);
}

@media screen and (min-width:1025px)
{

.cd-footer {
  grid-column: 1 / -1;
  grid-row: 6 / 7;
  padding: 2rem 0;

}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5rem;
}
}

/* End Footer */


/* Typography Styling + Media Queries */


h1, h2, h3, h4, h5, h6 {
  line-height: 3rem;
  margin: 2rem 0;
}

h1 {
  font-size: 4.4rem;
  font-weight: 900;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.0rem;
  font-weight: 300;
}

h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: rgb(12, 190, 169);
}

.h4-landing {
  color: rgb(255, 255, 255);
}

p {
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 2.5rem;
  margin: 2rem 0;
}

@media screen and (min-width:1025px)
{
  h1, h2, h3, h4, h5, h6 {
    line-height: 4rem;
    margin: 2rem 0;
  }

  h1 {
    font-size: 6.4rem;
  }

  h2 {
    font-size: 3.2rem;
    font-weight: 800;
  }

  h3 {
    font-size: 2.5rem;
  }


  p {
    font-size: 2rem;
    line-height: 3rem;
  }
}

/* END TYPOGRAPHY STYLING */

/* CONTACT PAGE */

.contact-wrapper {
  display: grid;
}

.say-hello {
  margin: 15rem 1rem 0rem 1rem;
  text-align: center;
}

.say-hello p {
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
}

input {
  font-family: "ff-real-text-pro", Helvetica, sans-serif;
  font-size: 1.5rem;
  border: none;
  border: 1px solid #DBE2F4;
  border-radius: .5rem;
  padding-left: 1rem;
  height: 4rem;
}

input:focus {
  border: .2rem solid rgb(11, 35, 255);
}

.contactForm div {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  margin: 0 1rem 3rem 1rem;
}

textarea {
  font-family: "ff-real-text-pro", Helvetica, sans-serif;
  font-size: 1.5rem;
  border: 1px solid #DBE2F4;
  border-radius: .5rem;
  height: 12rem;
  padding-left: 1rem;
  padding-top: 1rem;
  resize: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

textarea:focus {
  border: .2rem solid rgb(11, 35, 255);
}
.contactSend {
  font-family: "ff-real-text-pro", Helvetica, sans-serif;
  border: 0;
  border-radius: .5rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgb(11, 35, 255);
  height: 6rem;
  color: rgb(255,255,255);
}

.contactSend:hover {
  background-color: rgb(49, 69, 251);
  cursor: pointer;
}


@media screen and (min-width:768px) {
.contact-wrapper {
  grid-template-columns: repeat(6, 1fr);
}

.say-hello {
  grid-column: 2 / 6;
  grid-row: 1 / 2;
}

.contactForm {
  grid-column: 2 / 6;
  grid-row: 2 / 3;
}

footer {
  grid-column: 1 / -1;
}

}
@media screen and (min-width:1025px) {
.contact-wrapper {
  grid-template-columns: [edge-start] minmax(1rem, 1fr) [content-start] repeat(12, minmax(1rem, 6rem)) [content-end] minmax(1rem, 1fr) [edge-end];
}

.say-hello {
  grid-column: 3 / 13;
  padding-top: 10rem;
}

.contactForm {
  grid-column: 3 / 13;
  padding-bottom: 10rem;

}

footer {
  grid-column: 1 / -1;
}
}

.about-text {
  margin: 0 1rem;
}

/* ABOUT PAGE */

.about-me-image {
  padding-top: 8rem;
}

@media screen and (min-width:768px) {
 .about-me-image {
   grid-column: 1 / -1;
 }

 .about-text {
   grid-column: 2 / 6;
 }
}


@media screen and (min-width:1025px) {

.about-text {
  margin: 0 2rem;
}

.about-me-image {

}

.about-me-image {
  grid-column: 1 / -1;
}

.about-text {
  grid-column: 2 / 14;
}

}
