/* GLOBAL STYLINGS */

img {
  width: 100%;
}


/* MOBILE CONTENT */

.project-hero {
  background-image: linear-gradient(to bottom, rgb(0, 96, 208), rgb(10, 132, 227));
  padding-top: 8rem;
}

.project-img {
  display: none;
  justify-content: center;
  text-align: center;
  color: white;
}

.project-img-mobile {
  width: 80%;
  margin: auto;
  padding: 4rem 0;
  text-align: center;
  color: white;
}

.sphere-logo {
  width: 11rem;
  margin-bottom: 2rem;
}


.survey-insights {
  background-color: #0266D4;
  color: #FFFFFF;
}


#pharm {
  margin-top: 6rem;
}

.comp-insights {
  background-color: #0266D4;
  color: #FFFFFF;
  padding: 4rem 0;
}

.comp-data {
  text-align: center;
  line-height: 3rem;
  margin-bottom: 5rem;
}

.comp-data h2, p {
  margin: 0;
}

.senior-icon {
  width: 6rem;
  height: 6rem;
}

.data-icon {
  width: 4.5rem;
  height: 6rem;
}

.lofi-wires-desktop {
  display: none;
}

/* User testing no header */

.lofi-testing ul {
  margin: 0;
  padding-left: 2rem;
  padding-top: 1rem;
}

.lofi-testing li {
  font-size: 1.7rem;
  font-weight: 300;
  padding: 1rem 0;
}

.iter-1 {
  display: none;
}

.iter-2 {
  margin: 0 2rem;
  padding: 0;
}

.iter-3 {
  margin: 0 2rem;
  padding: 0;
}

.iteration1, .iteration2, .iteration3, .iteration4 {
  margin: 0 1rem;
}


.usability-testing ul {
  margin: 0;
  padding-left: 1.5rem;
}

.usability-testing li {
  font-size: 1.7rem;
  font-weight: 300;
  padding: 1rem 0;
}

.state1, .state2, .state3, .state4 {
  margin: 0 1rem;
}


/* TABLET CONTENT */
@media screen and (min-width:768px) {


.project-img-mobile {
  display: none;
}

.project-img {
  display: block;
  width: 100%;
  margin: auto;
  padding: 3rem 3rem;
}


.comp-insights {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  text-align: center;
  margin-bottom: 2rem;
}

.comp-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comp-data h2 {
  padding-top: 1rem;
}

/* placement of sketches and wireframes in this case study */
.sketch-1 {
  grid-column: 1 / 4;
  margin-left: 2rem;
  margin-right: 0;
}

.sketch-2 {
  grid-column: 4 / -1;
  margin-right: 2rem;
  margin-left: 0;
}

.lofi-wires-mobile {
  display: none;
}

.lofi-wires-desktop {
  display: block;
  grid-column: 1 / -1;
  margin: 0 2rem;
}


.lofi-testing li{
  font-size: 1.7rem;
  padding-left: 1rem;
}


.iter-2 {
  grid-column: 2 / 4;
  margin: 2rem 0 2rem 0;
}

.iter-3 {
  grid-column: 4 / 6;
  margin-top: 3rem;
  margin: 2rem 0 2rem 0;
}

.crit-submit {
  grid-column: 2 / 4;
}

.crit-info {
  grid-column: 4 / 6;
  margin: 0;
  padding-top: 5rem;
}

.crit-btn {
  margin-bottom: 5rem;
}

.crit-revised {
  grid-column: 2 / 4;
}

.crit-info-2 {
  grid-column: 4 / 6;
  margin: 0;
}

.crit-revised, .crit-info-2 {
  padding-top: 6rem;
}

.crit-info > .info-detail {
  padding-top: 1rem;
}

.crit-info-2 > .info-detail {
  padding-top: 4rem;
}

.usability-testing {
  margin-top: 0;
}

.usability-testing ul {
  padding: 2rem 0;
}

.iteration1 {
  grid-column: 1 / 4;
  margin-left: 2rem;
}

.iteration2 {
  grid-column: 4 / -1;
  margin-right: 2rem;
}

.iteration3 {
  grid-column: 1 / 4;
  margin-left: 2rem;
}

.iteration4 {
  grid-column: 4 / -1;
  margin-right: 2rem;
}


.finishing-intro {
}

.state1 {
  grid-column: 1 / 4;
  margin-left: 2rem;
}

.state2 {
  grid-column: 4 / -1;
  margin-right: 2rem;
}

.state3 {
  grid-column: 1 / 4;
  margin-left: 2rem;
}

.state4 {
  grid-column: 4 / -1;
  margin-right: 2rem;
}

.logo-sketch {
  grid-column: 1 / 4;
  margin-left: 2rem;
}

.logo-digital {
  grid-column: 4 / -1;
  margin-right: 2rem;
}

}

/* LAPTOP CONTENT */

@media screen and (min-width:1224px) {


/* ALL PARAGRAPHS on SAME COLUMN go here */


.comp-insights {
  grid-column: 4 / 12;
  border-radius: 1rem;
}

.comp-data {
  display: block;
  margin: 0;
  align-items: center;
}

.comp-data h2 {
  padding-top: 0;
}

.data-icon {
  margin-top: 5rem;
}

/* rows and columns are within the discovery nested grid */

/* keep sketches seperate */

.sketch-1, .sketch-2 {
  align-items: center;
}

.sketch-1 {
  grid-column: 1 / 8;
}

.sketch-2 {
  grid-column: 8 / -1;
}

.lofi-testing li {
  font-size: 2rem;
  line-height: 3.5rem;
}

/* Sphere specific */
.iter-1 {
  display: block;
  grid-column: 3 / 6;
  margin: 0;
  padding: 0;
}

.iter-2 {
  grid-column: 6 / 9;
  margin: 0;
  padding: 0;
}

.iter-3 {
  grid-column: 9 / 12;
  margin: 0;
}

.crit-submit, .crit-revised {
  grid-column: 3 / 8;
}

.crit-info, .crit-info-2 {
 grid-column: 9 / 13;
}

.iteration1, .iteration3 {
  grid-column: 2 / 8;
}

.iteration2, .iteration4 {
  grid-column: 8 / 14;
}

/* Sphere specific */
.state1 {
  grid-column: 2 / 8;
  margin: 0;
}

.state2 {
  grid-column: 8 / 14;
  margin: 0;
}

.state3 {
  grid-column: 2 / 8;
  margin: 0;
}

.state4 {
  grid-column: 8 / 14;
  margin: 0;
}

.logo-sketch {
  grid-column: 2 / 8;
}

.logo-digital {
  grid-column: 8 / 14;
}

}
